[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "*"
mongoengine = "*"
redis = "*"
redis-lru = "*"
celery = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
